.code-example {
  margin-top: 200px;

  &.reduced {
    margin-top: 30px;
  }

  h3 {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 40px;
  }

  > .content {
    display: flex;
  }

  .options {
    margin-bottom: 20px;

    button {
      color: #31ddaa;
      border: solid 2px #31ddaa;
      background: transparent;
      border-radius: 8px;
      padding: 4px;
      font-size: 14px;
      margin-right: 10px;

      &.active {
        background: #31ddaa;
        color: white;
      }
    }
  }

  .notation-main,
  .description {
    width: calc(65%);
    // padding: 80px;
  }

  .notation-outer-container {
    text-align: center;
    border-radius: 3px;
    padding-top: 20px;
    margin-bottom: 60px;

    &.code {
      padding-bottom: 20px;
      text-align: left;
      background: #f6f6f6 !important;
      font-size: 18px;
      border-radius: 10px;

      pre {
        padding: 40px !important;
        background: transparent !important;
      }
    }
  }

  .notation-transcription {
    vertical-align: top;
    width: calc(35% - 40px);
    padding: 0 20px;
    color: white;

    &.code {
      .code-wrap {
        background: #9e0dff;
        padding: 20px;
        border-radius: 3px;
        color: #25fffc;

        li {
          background: transparent !important;
          color: white !important;
          font-size: 14px !important;
        }

        > pre {
          background-color: auto !important;
          :not(.results) {
            padding-left: 30px !important;
          }
        }
      }
    }

    .tabs {
      border-radius: 10px;
      // background: lighten($slate, 60%);
      // border: solid lighten($slate, 60%) 2px;
      padding-top: 20px;

      .content {
        // padding: 21px 20px;
        // background: $gray;
      }
    }
  }

  &.dark {
    .notation-outer-container.code {
      background: transparent;
      // border: solid #350037 3px;

      > pre {
        background: transparent !important;
      }
    }
  }
}
