.docs {
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 250px);
  margin-left: 250px;
  min-height: 100vh;

  &.guides {
    .hero {
      position: absolute;
      z-index: 1;
      left: 0;
      width: 100vw;
      min-height: calc(100vh - 100px);
      padding-bottom: 100px;
      text-align: center;
      background: #020016;
      font-size: 20px;
      color: rgb(48, 48, 48);

      background: rgb(20, 0, 36);
      background: linear-gradient(#140024, #250441 66.83%, #5f0050);

      .icon {
        margin-top: 20px;
        font-size: 40px;
        color: rgb(255, 0, 214);
      }

      .above-night-sky {
        position: relative;
        z-index: 1;
      }

      h2 {
        margin-top: calc(50vh - 80px);
        font-weight: 400;
        font-size: 140px;
        margin-bottom: 20px;
      }

      .subtext {
        max-width: 600px;
        display: inline-block;
        margin-bottom: 20px;
        font-size: 26px;
      }

      .subtext-container {
        // background: #b69fc9;
        // border: solid 2px #e9b4e7;
        // box-shadow: rgba(255, 4, 98, 0.23) 0px 0px 30px;
        padding: 32px;
        border-radius: 20px;
        display: inline-block;
      }

      .subtext-container,
      .subtext-container a {
        color: white;
      }

      .subtext-container a {
        font-weight: 600;
      }
    }

    .docs-content {
      position: absolute;
      z-index: 0;
      top: 100vh;
      width: calc(100vw - 250px - 60px - 20px);
      padding: 60px 20px 60px 60px;
      overflow-y: auto;
      background: #0f010e;

      h1 {
        font-size: 100px;
        font-weight: 200;
        margin-bottom: 120px;
      }

      h2 {
        font-size: 50px;
        font-weight: 200;
        margin-bottom: 40px;
      }

      h3 {
        font-size: 30px;
        font-weight: 400;
        // margin-bottom: 80px;
      }
    }
  }
}
