.left-sidebar {
  position: fixed;
  display: inline-block;
  width: calc(250px - 40px);
  height: calc(100vh - 40px);
  padding: 40px 20px;
  background: #0f010e;
  overflow-y: auto;
  padding-bottom: 40px;

  .br {
    margin-bottom: 20px;
  }

  .left-sidebar-content {
    margin-top: 20px;
  }

  nav.page-selection {
    margin-bottom: 20px;
    color: $slate;

    a {
      display: inline-block;
      margin-right: 10px;

      &.active {
        text-decoration: underline;
      }
    }
  }

  h2 {
    -webkit-text-stroke-width: 1px !important;
    color: $text_color_slam;
    font-size: 30px !important;
    font-weight: 300;
    // background: #6bb01b;
    // border-bottom: solid thin #6bb01b;
    padding-bottom: 10px;
  }

  nav {
    a {
      color: $text_color_slam;
      padding: 3px 0;
      display: block;
      text-decoration: none;

      div {
        border-radius: 4px;
        display: inline-block;
        padding: 4px 4px;
      }

      //       &:nth-child(1) div,
      //       &:nth-child(11) div {
      //         color: $orange;
      //         // border-color: $orange;
      //       }

      //       &:nth-child(2) div,
      //       &:nth-child(12) div {
      //         color: $red;
      //         // border-color: $red;
      //       }

      //       &:nth-child(3) div,
      //       &:nth-child(13) div {
      //         color: darken($yellow, 10%);
      //         // border-color: darken($yellow, 10%);
      //       }

      //       &:nth-child(4) div,
      //       &:nth-child(14) div {
      //         color: darken($yellow_green, 20%);
      //         // border-color: darken($yellow_green, 20%);
      //       }

      //       &:nth-child(5) div,
      //       &:nth-child(15) div {
      //         color: darken($green, 60%);
      //         // border-color: darken($green, 60%);
      //       }

      //       &:nth-child(6) div,
      //       &:nth-child(16) div {
      //         color: darken($teal, 40%);
      //         // border-color: darken($teal, 40%);
      //       }

      //       &:nth-child(7) div,
      //       &:nth-child(17) div {
      //         color: darken($pink, 20%);
      //         // border-color: darken($pink, 20%);
      //       }

      //       &:nth-child(8) div,
      //       &:nth-child(18) div {
      //         color: darken($light_blue, 60%);
      //         // border-color: darken($light_blue, 60%);
      //       }

      //       &:nth-child(9) div,
      //       &:nth-child(19) div {
      //         color: darken($purple, 60%);
      //         // border-color: darken($purple, 60%);
      //       }

      //       &:nth-child(10) div,
      //       &:nth-child(20) div {
      //         color: darken($eggshell_white, 50%);
      //         // border-color: darken($eggshell_white, 50%);
      //       }
    }

    nav {
      margin: 20px 0;
      border-radius: 10px;
      // background: rgb(233, 233, 233);
      // border: solid 2px #12ffcf;
      // padding: 20px;

      .subgroup-title {
        font-weight: 500;
        font-size: 18px;
        // border-bottom: solid thin lighten(#10071d, 10%);
        // margin-bottom: 20px;
        padding-bottom: 10px;
      }

      a:not(.subgroup-title) {
        margin-left: 10px;
      }

      a.subgroup-title {
        color: rgb(30, 225, 241);
        margin-left: 6px;
      }
    }
  }
}
