.nnt-logo h2 {
  display: inline-block;
  color: #6c0d71;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(12, 212, 12);
  text-shadow: rgba(46, 207, 37, 0.4) 0px 0px 15px;
  padding: 10px 5px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 100px;
}
