.night-sky {
  // background: red;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;

  .star {
    background: rgb(255, 17, 148);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    top: random(80) + vh;
    left: random(100) + vw;

    &:nth-child(1) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(2) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(3) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(4) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(5) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(6) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(7) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(8) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(9) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(10) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(11) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(12) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(13) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(14) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(15) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(16) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(17) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(18) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(19) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(20) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(21) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(22) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(23) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(24) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(25) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(26) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(27) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(28) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(29) {
      top: random(80) + vh;
      left: random(100) + vw;
    }

    &:nth-child(30) {
      top: random(80) + vh;
      left: random(100) + vw;
    }
  }
}
