.page.api {
  background: #100926;
  color: white;

  a {
    color: $teal;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .docs {
    .documentation {
      padding: 40px;
      font-size: 22px;

      h2,
      h3 {
        margin-top: 50px;
      }

      nav {
        a {
          display: block;
        }
      }

      .code-example {
        margin-top: 0px;

        .notation-outer-container.code,
        .notation-outer-container.code pre,
        .notation-transcription .code-wrap {
          background: rgb(8, 3, 29) !important;
        }
      }
    }
  }

  .docs-content {
    padding: 40px;

    nav a {
      display: block;
    }
  }

  .left-sidebar {
    background: #0c0620;

    .header-group {
      display: flex;
      vertical-align: top;

      button {
        background: transparent;
        border: none;
        color: white;
        font-size: 20px;
        margin-left: 2px;
      }

      button, a {
        display: inline-block;
      }
    }

    nav.page-selection a {
      color: $teal;
    }

    nav {
      background: transparent;
      padding: 10px 5px 5px 5px;
      // margin: 0;

      a {
        color: rgb(210, 207, 240);
      }

      nav {

        nav {
          padding: 10px;
          margin-top: 30px;
          margin-left: 15px;
          border: white solid 2px;
        }

        nav,
        a:not(.subgroup-title),
        .br {
          display: none;
        }

        &.expanded {
          nav,
          a:not(.subgroup-title),
          .br {
            display: block !important;
          }
        }
      }
    }
  }
}
