@import './vars.scss';
@import './colors.scss';
@import './icons.scss';
@import './headings.scss';
@import './ui/base.scss';
@import './syntax.scss';
@import './page/base.scss';

body {
  background: $light_gray;
  color: #2a042f;
  font-size: 18px;
}

a {
  color: rgb(22, 29, 113);
}

p {
  line-height: 25px;
}

span.hl {
  border-radius: 3px;
  color: #7525d9;
  font-style: italic;
}
