$eggshell_white: rgb(238, 238, 232);

$dark_purple: #1d1636;
$darkest_purple: rgb(24, 9, 43);
$purple: rgb(113, 79, 227);
$lightest_purple: rgb(224, 224, 230);
$light_purple: rgb(218, 215, 223);
$gray_purple: #d4d3db;

$gray: rgb(83, 83, 83);
$teal: rgb(59, 255, 203);
$yellow: #ffef0e;

// https://www.colourlovers.com/palette/937624/Dance_To_Forget
// but i modified them to match gray bg better
$red: #ff4e50;
$orange: #fb913b;
$yellow: #f9d422;
$yellow_green: #ffee17;
$green: #dfffb0;
$medium_green: darken(#dfffb0, 40%);
$teal: #a6ffe7;
$slate: #5b5b5b;
$light_blue: #defdff;
$pink: #ff7ef2;

$gray: #e4e4e4;
$light_gray: rgb(238, 237, 237);

$text_color_slam: #ff00d6;
$text_color: #f6b0ff;
